.profleSession {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin-bottom: 2em;
}
.profile {
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  background-color: var(--backgroundd-color2);
  border: 1px solid var(--border-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links,
.logout {
  width: 100%;
  padding: 1em;
  display: inline-block;
  border-bottom: 0.4px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--background-color);
}

.logout {
  color: var(--error-color);
}
