:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #2d2d2d;
  --background-color: #ffffff;
  --backgroundd-color2: #efefef;
  --border-color: #c7c7c7;
  --backgroundd-them-color: #e5ebfc;
  --backgroundd-error-color: #ffeaef;
  --them-color: #0073ff;
  --error-color: #fb2c5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

body {
  max-width: 1000px;
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 5em;
}

button {
  font-size: 1em;
  font-family: inherit;
}

.active {
  color: var(--them-color);
}

@media (min-width: 900px) {
  button,
  a {
    cursor: pointer;
  }
}
