.footer {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  max-width: 370px;
  margin: auto;
  font-size: 1.5rem;
}
.footer a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2em;
  position: relative;
}

.footer a span {
  font-size: 0.7rem;
}

.counter {
  background-color: var(--error-color);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.8em;
  transform: scale(0.8);
  position: absolute;
  top: -8px;
  right: -8px;
}
